body {
    font-size: 18px;
}

.site-name {
    font-weight: 700;
}

.fancy-block {
    background-color: #664ca8;
}

.fancy-block a {
    color: white;
}

.forum-header {
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
}


/** Post Styles **/

.post-detail-title {
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin-left: -2.5px;
    line-height: 1.04;
    letter-spacing: -.028em;
}

.post-detail-content {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
}


/** Leadspace styles */

.leadspace {
    background: #FF5F6D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 350px;
    color: #0A0D0A;
}

.leadspace-title {
    font-size: 40px;
}

.leadspace-subtitle {
    font-size: 28px;
}

.container-cards {
    background: #fafafa !important;
}

.card {
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 3px;
    padding: .5em 1.5em;
    font-size: 18px;
    line-height: 1.58;
    letter-spacing: -.004em;
}